{% extends 'base.html' %}
{#{% load socialaccount %}#}
{#{% load crispy_forms_filters %}#}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-form">
            <h2>Log in</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success ml-2" type="submit">LOG IN</button>
{#                <strong>-- OR -- </strong>#}
{#                <a href="{% provider_login_url 'google' %}"> Login with<strong>Google</strong></a><br>#}
            </form>
        </div>
    </div>

{% endblock %}