{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% for event in object_list %}

            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <a href="{% url 'event_detail' event.pk %}"><h4>{{ event.eventName }}</h4></a>
                        <a href="{% url 'view_profile' event.author.pk %}"> {{ event.author }}</a>
                        {# <span class="font-weight-bold">{{ post.author }}</span> &middot;#}
                        <span class="text-muted">{{ event.created_on }}</span>

                    </div>

                    <p>  {{ event.description | linebreaks }} </p>
                    <br/>

                    {#                    <div class="card-footer ">#}
                    {#                        <div class="center">#}
                    {#                            <p><a href="{% url 'event_detail' event.pk %}">Comments: {{ post.comments.count }}    </a>#}
                    {#                                Likes: {{ post.like.count }}#}
                    {#                            </p>#}
                    {##}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}
                </div>

            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}